// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

@import './variables.scss';

body {
  background-color: $white;
  font-family: 'Roboto';
  border: 5px solid $gbxblue;
  min-height: 100vh;
}

.custom-tile {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  background-color: $white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  margin-bottom: 30px;

  h4 {
    color: $gbxblue;
  }
}

.btn,
.badge-primary {
  background: $gbxblue;
  border-color: $gbxblue;
}
